@charset "utf-8";

body{
    margin: 0;
}

.cabecalho{
    background-image: url(../imagens/Tupac_imagem\ de\ fundo.jpg);
    height: 550px;
    background-size: cover;
    padding-top: 1px;
}

.cabecalho nav ul{
    margin: 20px 50px 0 0; 

}


.cabecalho nav li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 20px;
    color: white;
    padding: 0px;
}

.cabecalho nav a{
    background-color: rgba(0, 0, 0, 0.575);
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
}

.cabecalho h1{
    font-size: 100px;
    color: white;
    text-align: center;
}

.cabecalho h2{
    text-align: center;
    color: white;
    font-size: 50px;
}
.cabecalho a:hover{
    background-color: white;
    color: black;
}

/* Lista de Músicas */ 

.musicas h1{
    font-size: 60px;
    text-align: center;
    /* font-family: ; */
    text-transform: capitalize;
}

.musicas h2{
font-size: 30px;
text-align: center;
text-transform: uppercase;
}

.musicas p{
    font-size: 18px;
    text-indent: 5px;
}

